<div class="card">
  <img src="/img/{{imagen}}" class="card-img-top img-producto" alt="{{nombre}}" id="{{imagen}}">
  <div class="card-body">
    <h5 class="card-title">{{nombre}}</h5>
  </div>
</div>
